.home{
    color:white;
    background-image: url('./images.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    position:sticky;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
   display: flex;
   justify-content:'space-around';
   min-height: 10vh;
   align-items: center;
   position:relative;
   
}
ul.nav-links{
    display: flex;
    justify-content:space-around;
    text-transform: uppercase;
    font-family:monospace;
    background-color: rgb(255, 250, 253);
    
}
ul.nav-links a{
    font-size:18px;
    font-weight:normal;
    position:relative;
    cursor: pointer;
}
ul.nav-links a:hover{
    border-bottom: 1px solid #fff;
}
a{
   text-decoration: none;
}

.login{
    font-size:  120%;
    font-family: cursive;
    padding-top: 150px;
    padding-left: 400px;
    background-image: url('./image1.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
}
label{display: flex;
    color: blue;
    font-size:25px;
    font-weight:bold;
    
}
.form-control{
  font-weight: bold;
  font-size:25px;
  padding-right: 70%;
  
}
.register{
    background-image: url('./register.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;


}

